version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: am_dashboard_db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_DB: amentoria_db
    volumes:
      - pg_data:/var/lib/postgresql/data
  
volumes:
  pg_data: